.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px 50px 50px;
  background-image: linear-gradient(0deg, rgba(30, 31, 32, 0) 0%, #1e1f20 100%), url(../../assets/nav-background.png);
  z-index: 10;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}
a:active {
  color: #ff9a23;
  font-weight: 700;
}
a:hover {
  cursor: pointer;
}
.logo-section {
  display: flex;
  align-items: center;
}
.brand-name {
  color: white;
  margin-left: 10px;
  font-size: 18.47px;
  font-weight: 700;
  line-height: 22.35px;
}
.nav-links-section {
  display: flex;
}
.nav-link {
  margin-right: 30px;
}

.social-links-section {
  display: flex;
  align-items: center;
}
.social-link {
  margin-left: 5px;
}
.menu-toggle {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav-links-section {
    display: none;
  }
  .social-links-section {
    display: none;
  }
  .navbar-container {
    padding: 10px 20px;
  }
  .brand-name {
    font-size: 12px;
  }
  .menu-toggle {
    display: flex;
  }
}
